html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css', integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==', crossorigin='anonymous', referrerpolicy='no-referrer')

  body
    .header
      a(href='/home', class='logo')
        img(src='./assets/profile/profile.jpg', alt='')
        span MATCH INTERESTS
      .header-right
        a(href='/home', class=currentPage === 'home' ? 'active' : '') Home
        // Check if the user is logged in
        if loggedIn
          // Show "Logout" if logged in
          a(href='/logout') Logout
        else
          // Show "Login" if not logged in
          // Highlight "Login" link if the current page is the login page
          a(href='/login', class=currentPage === 'login' ? 'active' : '') Login
